@use '../abstract/' as *;

.btn {
	background-color: transparent;
	padding: 1.2rem 4.7rem;
	border-top-right-radius: 1.5rem;
	display: inline-block;
    border: 1px solid transparent;
    
&.bg--primary {
        border: 1.5px solid $clr--primary;
        color: $clr--primary;
		&:hover {
			background-color: $clr--primary;
		}
	}

&.bg--light {
	border: 1.5px solid $clr--light;
	color: $clr--light;
	transition: .5s ease;
	&:hover {
		background-color: $clr--light;
		color: $clr--primary;
	}
}
&.bg--primary2 {
	border: 1.5px solid $clr--light;
	color: $clr--light;
	&:hover {
		background-color: $clr--primary;
		border: none;
		transition: .5s ease;
	}
}

}
